.job {
  margin: 0.5rem 0 0 0;

  &__icon-container {
    margin: 0.8rem 0 0 1rem;
    width: 5.75rem;
    height: 5.75rem;
  }

  &_icon {
   border-radius: 50%;
    margin: auto;

    &_modified {
      display: none;
    }
  }

  &__content {
    margin: 0.8rem 0 0 1rem;
    width: 40%;
  }

  &__company-name {
    color: #1D4D70;
    font-size: 1.3rem;
  }

  &__job-title {
    color: #1D4D70;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__description {
    color: #1D4D70;
    font-size: 1.3rem;
  }

  &__tag-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: auto;
    flex-wrap: wrap;
  }

  &__tag-item {
    background: #4AB4FF;
    border-radius: 0.2rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: white;
    padding: 0.3rem;
  }

  &__featured-container {
    margin: auto 3rem auto 0;
    min-width: 10%;
    white-space: nowrap;
    text-align: center;
  }

  &__featured {
    color:  #1D4D70;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__new {
    margin: auto;
    margin-right: 3.5rem;
    color:  #1D4D70;
    font-size: 1.3rem;
    font-weight: bold;
    background: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
    width: 4.2rem;

    &_modified {
      background: transparent;
      color: transparent;
    }
  }

  &__container {
    display: flex;
    width: 70rem;
    height: 7rem;
    background: linear-gradient(to right, #84CCFF 98.5%, #1D4D70 1.5%);
    border-radius: 1rem;
    text-decoration: none;
    margin: auto;
    box-shadow: 1px 2px 11px 0px rgba(50, 50, 50, 0.64);

    &_modified {
      background: white;

      .job__featured {
        font-weight: normal;
      }
    }
  }
 }